@model User
@{

    ViewBag.Title = "Instructor Details";
}





<div class="container home">
    <div class="row">
        <table class="table table-bordered table-dark">

            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Age</td>
                <td>@Model.Email</td>
                <td>@Model.UserName</td>
            </tr>


        </table>

        <a asp-action="showInstructors" asp-controller="Student" class="btn btn-primary mb-3 col-1">Back</a>


    </div>
</div>

